html,
body,
#app {
  width: 380px;
  height: 560px;
  margin: 0;
}

* {
  box-sizing: border-box;
}

body {
  background: #f8fafc;
  font-family:
    Inter,
    "PingFang SC",
    "Microsoft YaHei",
    sans-serif;
}
